/* ---------- FONTS ----------*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/* ---------- VARIABLES ----------*/

:root {
    --main-BG-color: hsl(217, 54%, 11%);
    --card-BG-color: hsl(216, 50%, 16%);
    --text-color: hsl(215, 51%, 70%);
    --currency-color: hsl(178, 100%, 50%);
    --line-color: hsl(215, 32%, 27%);

}

/* ############################ DEBUG ############################ */


/* ---------- RESET ----------*/

* {
    padding: 0;
    margin: 0;
}


/* ---------- LAYOUT, DESIGN ----------*/

body {
    background-color: var(--main-BG-color);
    width: 100vw;
    height: 100vh;
    height: 100svh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card {
    background-color: var(--card-BG-color);
    color: var(--text-color);
    width: 327px;
    aspect-ratio: 327 / 540;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.card-image {
    width: 87%;
    margin-top: 22px;
    border-radius: 10px;
}

.card-content {
    width: 87%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-title {
    color: white;
    margin-top: 0.5em;
    font-weight: 500;
}

.card-description {
    line-height: 1.5em;
    font-weight: 100;
}

.card-values-container {
    display: flex;
    justify-content: space-between;
}

.card-values-container img,
.card-values-container p {
    display: inline-block;
}

.card-currency-value{
    color: var(--currency-color);
}

.line{
    border: 1px solid var(--line-color);
}

.card-creator {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.creator-thumb {
    height: 2em;
    border: 1px solid white;
    border-radius: 50%;
}

.creator-text {
    margin-left: 15px;
}

.creator-name {
    color: white;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;

}



